<div>
    <h2 data-translate="anprjApp.lendApply.home.title">Lend Applies</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lend-apply.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="anprjApp.lendApply.home.createLabel">
                        Create new Lend Apply
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="login"><span data-translate="anprjApp.lendApply.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lendPrjId"><span data-translate="anprjApp.lendApply.lendPrjId">Lend Prj Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="anprjApp.lendApply.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lendStatu"><span data-translate="anprjApp.lendApply.lendStatu">Lend Statu</span>及操作 <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lendApply in vm.lendApplies track by lendApply.id">
                    <td><a ui-sref="lend-apply-detail({id:lendApply.id})">{{lendApply.id}}</a></td>
                    <td>{{lendApply.login}}</td>
                    <td>{{lendApply.lendPrjId}}</td>
                    <td>{{lendApply.amount}}</td>
                    <td>
                        <span data-translate="{{'anprjApp.LendApplyStatu.' + lendApply.lendStatu}}">{{lendApply.lendStatu}}></span>
                        <span class="label label-warning" ng-click="vm.auditPass(lendApply)"
                              ng-show="lendApply.lendStatu == 'APPLYED'" style="cursor: pointer;">审核通过</span>
                        <span class="label label-warning" ng-click="vm.auditReject(lendApply)"
                              ng-show="lendApply.lendStatu == 'APPLYED'" style="cursor: pointer;">拒绝</span>
                        <span class="label label-warning" ng-click="vm.lend(lendApply)"
                              ng-show="lendApply.lendStatu == 'PASSED'" style="cursor: pointer;">起息</span>
                        <span class="label label-warning" ng-click="vm.complete(lendApply)"
                              ng-show="lendApply.lendStatu == 'LENDED'" style="cursor: pointer;">完成</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lend-apply-detail({id:lendApply.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lend-apply.delete({id:lendApply.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
