
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLendApplyLabel" data-translate="anprjApp.lendApply.home.createOrEditLabel">Create or edit a Lend Apply</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lendApply.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lendApply.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="vm.lendApply.login"
                    required ng-maxlength="16" />
            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.lendPrjId" for="field_lendPrjId">Lend Prj Id</label>
            <input type="number" class="form-control" name="lendPrjId" id="field_lendPrjId"
                    ng-model="vm.lendApply.lendPrjId"
                    required />
            <div ng-show="editForm.lendPrjId.$invalid">
                <p class="help-block"
                    ng-show="editForm.lendPrjId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lendPrjId.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.lendApply.amount"
                    required min="0" />
            <div ng-show="editForm.amount.$invalid">
                <p class="help-block"
                    ng-show="editForm.amount.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amount.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.amount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.lendStatu" for="field_lendStatu">Lend Statu</label>
            <select class="form-control" name="lendStatu" ng-model="vm.lendApply.lendStatu" id="field_lendStatu" required>
                <option value="APPLYED" data-translate="anprjApp.LendApplyStatu.APPLYED">APPLYED</option>
                <option value="STARTED" data-translate="anprjApp.LendApplyStatu.STARTED">STARTED</option>
                <option value="COMPLETED" data-translate="anprjApp.LendApplyStatu.COMPLETED">COMPLETED</option>
            </select>
            <div ng-show="editForm.lendStatu.$invalid">
                <p class="help-block"
                    ng-show="editForm.lendStatu.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.applyDate" for="field_applyDate">Apply Date</label>
                <div class="input-group">
                    <input id="field_applyDate" type="text" class="form-control" name="applyDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lendApply.applyDate" is-open="vm.datePickerOpenStatus.applyDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('applyDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.applyDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.applyDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lendApply.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.lendApply.completeDate" for="field_completeDate">Complete Date</label>
                <div class="input-group">
                    <input id="field_completeDate" type="text" class="form-control" name="completeDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.lendApply.completeDate" is-open="vm.datePickerOpenStatus.completeDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('completeDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
