
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDrawApplyLabel" data-translate="anprjApp.drawApply.home.createOrEditLabel">Create or edit a Draw Apply</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.drawApply.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.drawApply.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                    ng-model="vm.drawApply.login"
                    required ng-maxlength="16" />
            <div ng-show="editForm.login.$invalid">
                <p class="help-block"
                    ng-show="editForm.login.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.login.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.orderAmount" for="field_orderAmount">Order Amount</label>
            <input type="number" class="form-control" name="orderAmount" id="field_orderAmount"
                    ng-model="vm.drawApply.orderAmount"
                    required min="0" />
            <div ng-show="editForm.orderAmount.$invalid">
                <p class="help-block"
                    ng-show="editForm.orderAmount.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.orderAmount.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.orderAmount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.actualAmount" for="field_actualAmount">Actual Amount</label>
            <input type="number" class="form-control" name="actualAmount" id="field_actualAmount"
                    ng-model="vm.drawApply.actualAmount"
                    required min="0" />
            <div ng-show="editForm.actualAmount.$invalid">
                <p class="help-block"
                    ng-show="editForm.actualAmount.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.actualAmount.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.actualAmount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.orderDrawDate" for="field_orderDrawDate">Order Draw Date</label>
            <input type="text" class="form-control" name="orderDrawDate" id="field_orderDrawDate"
                    ng-model="vm.drawApply.orderDrawDate"
                    required ng-maxlength="32" />
            <div ng-show="editForm.orderDrawDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.orderDrawDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.orderDrawDate.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="32">
                    This field cannot be longer than 32 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.canceled" for="field_canceled">Canceled</label>
            <input type="checkbox" class="form-control" name="canceled" id="field_canceled"
                    ng-model="vm.drawApply.canceled"
                     />
            <div ng-show="editForm.canceled.$invalid">
                <p class="help-block"
                    ng-show="editForm.canceled.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.completed" for="field_completed">Completed</label>
            <input type="checkbox" class="form-control" name="completed" id="field_completed"
                    ng-model="vm.drawApply.completed"
                     />
            <div ng-show="editForm.completed.$invalid">
                <p class="help-block"
                    ng-show="editForm.completed.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.applyDate" for="field_applyDate">Apply Date</label>
                <div class="input-group">
                    <input id="field_applyDate" type="text" class="form-control" name="applyDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.drawApply.applyDate" is-open="vm.datePickerOpenStatus.applyDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('applyDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.canceledDate" for="field_canceledDate">Canceled Date</label>
                <div class="input-group">
                    <input id="field_canceledDate" type="text" class="form-control" name="canceledDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.drawApply.canceledDate" is-open="vm.datePickerOpenStatus.canceledDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('canceledDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="anprjApp.drawApply.completedDate" for="field_completedDate">Completed Date</label>
                <div class="input-group">
                    <input id="field_completedDate" type="text" class="form-control" name="completedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.drawApply.completedDate" is-open="vm.datePickerOpenStatus.completedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('completedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
