<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>账号设置</h2>
            <jhi-alert></jhi-alert>
            <jhi-alert-error></jhi-alert-error>
            <!--电子邮件设置-->
            <form name="emailForm" role="form" novalidate ng-submit="vm.emailSave()" show-validation>
                <h4 class="control-label">账户基本信息设置</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="form-control-static">账号：</label></div>
                        <div class="col-md-8"><label class="form-control">{{vm.settingsAccount.login}}</label></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="form-control-static">电子邮箱：</label></div>
                        <div class="col-md-8">
                            <label class="form-control"
                                   ng-show="vm.isEmailEditing==false">{{vm.settingsAccount.email}}</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="{{'global.form.email.placeholder' | translate}}"
                                   ng-show="vm.isEmailEditing==true"
                                   auto-focus-when="vm.isEmailEditing==true"
                                   ng-model="vm.settingsAccount.email" ng-minlength=8 ng-maxlength=100 required maxlength="100">
                            <div ng-show="vm.isEmailEditing==true && form.email.$dirty && form.email.$invalid">
                                <p class="help-block"
                                   ng-show="form.email.$error.required"
                                   data-translate="global.messages.validate.email.required">
                                    Your e-mail is required.
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.email"
                                   data-translate="global.messages.validate.email.invalid">
                                    Your e-mail is invalid.
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.minlength"
                                   data-translate="global.messages.validate.email.minlength">
                                    Your e-mail is required to be at least 5 characters.
                                </p>
                                <p class="help-block"
                                   ng-show="form.email.$error.maxlength"
                                   data-translate="global.messages.validate.email.maxlength">
                                    Your e-mail cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" ng-show="vm.isEmailEditing==false"
                                    ng-click="vm.isEmailEditing=true">修改
                            </button>
                            <button type="submit" ng-disabled="emailForm.$invalid" class="btn btn-primary"
                                    ng-show="vm.isEmailEditing==true" data-translate="settings.form.button">保存
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!--手机号设置-->
            <form name="phoneForm" role="form" novalidate ng-submit="vm.phoneBind()" show-validation>
                <h4 class="control-label" for="phone" data-translate="settings.phone.title">Phone</h4>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 html-editor-align-center">
                            <label>手机号</label>
                            <input type="text" id="phone" name="phone"
                                   placeholder="{{'settings.phone.placeholder' | translate}}"
                                   ng-model="vm.settingsPhone.phone" ng-length=11 required>
                            <label>校验码</label>
                            <input type="text" id="key" name="key"
                                   ng-model="vm.settingsPhone.key" ng-length=6 required>
                            <button>获取验证码</button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" ng-disabled="phoneForm.$invalid" class="btn btn-primary"
                                    data-translate="settings.form.button">Save
                            </button>
                        </div>
                    </div>
                </div>

            </form>
            <!--身份证设置-->
            <label class="control-label" for="phone" data-translate="settings.identity.title">identity</label>
            <form enctype="multipart/form-data" ng-submit="uploadFile()">
                <input type="file" id="file" file-model="file" value="选择身份证图片文件"/>
            </form>
            <form name="identityForm" role="form" novalidate ng-submit="vm.identityBind()" show-validation>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 html-editor-align-center">
                            <div>
                                <label>身份证上的名字</label>
                                <input type="text" id="name" name="name"
                                       placeholder="{{'settings.identity.nameplaceholder' | translate}}"
                                       ng-model="vm.settingsIdentity.name" ng-minlength=2 required ng-maxlength="8">
                                <label>性别</label>
                                <input type="text" id="gender" name="gender"
                                       placeholder="{{'settings.identity.genderplaceholder' | translate}}"
                                       ng-model="vm.settingsIdentity.gender" ng-length=2 required>
                            </div>
                            <div>
                                <label>身份证号</label>
                                <input type="text" id="card" name="card"
                                       placeholder="{{'settings.identity.cardplaceholder' | translate}}"
                                       ng-model="vm.settingsIdentity.card" ng-length=18 required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" ng-disabled="identityForm.$invalid" class="btn btn-primary"
                                    data-translate="settings.form.button">Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!--地址设置-->
            <form name="addressForm" role="form" novalidate ng-submit="vm.addressSave()" show-validation>
                <label class="control-label" for="address" data-translate="settings.address.title">Phone</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10 html-editor-align-center">
                            <label>地址</label>
                            <input type="text" id="address" name="address"
                                   placeholder="{{'settings.address.addressplaceholder' | translate}}"
                                   ng-model="vm.settingsAddress.address" ng-length=11 required>
                            <label>联系人</label>
                            <input type="text" id="contractname" name="contractname"
                                   placeholder="{{'settings.address.nameplaceholder' | translate}}"
                                   ng-model="vm.settingsAddress.name" ng-minlength=2 required ng-maxlength="6">
                            <label>联系电话</label>
                            <input type="text" id="contractphone" name="contractphone"
                                   placeholder="{{'settings.address.phoneplaceholder' | translate}}"
                                   ng-model="vm.settingsAddress.phone" ng-minlength=7 required ng-maxlength="15">
                            <label>邮编</label>
                            <input type="text" id="postcode" name="contractphone"
                                   placeholder="{{'settings.address.postcodeplaceholder' | translate}}"
                                   ng-model="vm.settingsAddress.postcode" ng-length=6 required>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" ng-disabled="addressForm.$invalid" class="btn btn-primary"
                                    data-translate="settings.form.button">Save
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>
