<div>
    <h2 data-translate="anprjApp.loanPrj.home.title">Loan Prjs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="loan-prj.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="anprjApp.loanPrj.home.createLabel">
                        Create new Loan Prj
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span data-translate="anprjApp.loanPrj.name">Name</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="loanType"><span data-translate="anprjApp.loanPrj.loanType">Loan Type</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="maxAmount"><span data-translate="anprjApp.loanPrj.maxAmount">Max Amount</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="rate"><span data-translate="anprjApp.loanPrj.rate">Rate</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th><span data-translate="anprjApp.loanPrj.duration">Duration</span></th>
                <th><span data-translate="anprjApp.loanPrj.replayType">Replay Type</span></th>
                <th jh-sort-by="activated">
                    <span data-translate="anprjApp.loanPrj.activatStatu">Activated</span>及操作
                    <span class="glyphicon glyphicon-sort"></span>
                </th>
                <!--<th jh-sort-by="activateDate"><span data-translate="anprjApp.loanPrj.activateDate">Activate Date</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="loanPrj in vm.loanPrjs track by loanPrj.id">
                <td><a ui-sref="loan-prj-detail({id:loanPrj.id})">{{loanPrj.id}}</a></td>
                <td>{{loanPrj.name}}</td>
                <td data-translate="{{'anprjApp.LOANPRJTYPE.' + loanPrj.loanType}}">{{loanPrj.loanType}}</td>
                <td>{{loanPrj.maxAmount}}</td>
                <td>{{loanPrj.rate}}</td>
                <td>
                    {{loanPrj.durationNum}}
                    <span data-translate="{{'anprjApp.durationUnit.' + loanPrj.durationUnit}}">{{loanPrj.durationUnit}}</span>>
                </td>
                <td data-translate="{{'anprjApp.REPAYMENTTYPE.' + loanPrj.replayType}}">{{loanPrj.replayType}}</td>
                <td>
                    <span ng-show="loanPrj.activated == false">未发布</span>
                    <span ng-show="loanPrj.activated == true">已发布</span>
                    <span class="label label-warning" ng-click="vm.activate(loanPrj)"
                          ng-show="loanPrj.activated == false"
                          style="cursor: pointer;">发布</span>
                    <span class="label label-warning" ng-click="vm.unactivate(loanPrj)"
                          ng-show="loanPrj.activated == true"
                          style="cursor: pointer;">取消发布</span>
                </td>
                <!--<td>{{loanPrj.activateDate | date:'mediumDate'}}  </td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="loan-prj-detail({id:loanPrj.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="loan-prj.edit({id:loanPrj.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="loan-prj.delete({id:loanPrj.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
