<div>
    <h2 data-translate="anprjApp.loanApply.home.title">Loan Applies</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="loan-apply.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="anprjApp.loanApply.home.createLabel">
                        Create new Loan Apply
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="login"><span data-translate="anprjApp.loanApply.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="loanPrjId"><span data-translate="anprjApp.loanApply.loanPrjId">Loan Prj Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="anprjApp.loanApply.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="applyStatu"><span data-translate="anprjApp.loanApply.applyStatu">Apply Statu</span>及操作 <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="loanApply in vm.loanApplies track by loanApply.id">
                    <td><a ui-sref="loan-apply-detail({id:loanApply.id})">{{loanApply.id}}</a></td>
                    <td>{{loanApply.login}}</td>
                    <td>{{loanApply.loanPrjId}}</td>
                    <td>{{loanApply.amount}}</td>
                    <td>
                        <span data-translate="{{'anprjApp.LoanApplyStatu.' + loanApply.applyStatu}}" class="badge" ng-style="{
                            'background-color': (loanApply.applyStatu == 'COMPLETED' ||
                                                    loanApply.applyStatu == 'PASSED' ||
                                                    loanApply.applyStatu == 'LOANED')?'#5cb85c':
                                                        (loanApply.applyStatu == 'APPLYED')?'#f0ad4e':'#d9534f'
                                                    }">{{loanApply.applyStatu}}></span>
                        <label class="label label-primary" ng-click="vm.auditPass(loanApply)"
                              ng-show="loanApply.applyStatu == 'APPLYED'" style="cursor: pointer;">审核通过</label>
                        <label class="label label-primary" ng-click="vm.auditReject(loanApply)"
                              ng-show="loanApply.applyStatu == 'APPLYED'" style="cursor: pointer;">拒绝</label>
                        <label class="label label-primary" ng-click="vm.loan(loanApply)"
                              ng-show="loanApply.applyStatu == 'PASSED'" style="cursor: pointer;">放款</label>
                        <label class="label label-primary" ng-click="vm.repay(loanApply)"
                              ng-show="loanApply.applyStatu == 'LOANED'" style="cursor: pointer;">还款</label>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="loan-apply-detail({id:loanApply.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="loan-apply.delete({id:loanApply.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
